.toggle-button, .button{
    -fx-background-color:  #A9A9A9;
    -fx-background-radius: 0;
}

.toggle-button:hover, .button:hover{
    -fx-background-color:  #00000088;
}

.toggle-button:armed, .toggle-button:selected{
    -fx-background-color: #000000;
}